.modal {
  position: fixed;
  inset: 0;
  opacity: 0;
  pointer-events: none;
  transition: opacity .2s ease, background .2s ease;
  z-index: var(--modal-z-hidden);

  .overlay {
    display: flex;
    width: 100%;
    height: 100%;
    background: rgb(0 0 0 / 20%);

    .content {
      margin: auto;
      padding: 20px;
      border-radius: 16px;
      transform: scale(.7);
      background: var(--bg-color);
      transition: transform .2s ease;
    }
  }

  &.is_opened {
    opacity: 1;
    pointer-events: auto;
    transform: scale(1);
    z-index: var(--modal-z);

    .overlay {
      .content {
        transform: scale(1);
      }
    }
  }
  
  &.is_closing {
    .overlay {
      .content {
        transform: scale(.7);
      }
    }
  }
}