.app_button {
  padding: 8px 12px;
}

.clear {
  border: none;
  background: none;
  outline: none;
}

.outline {
  padding: 8px 24px;
  background: none;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  border-radius: 8px;
}
