@forward "consts";
@forward "normalize";
@forward "themes/light";
@forward "themes/dark";


.app {
  font: var(--font-m);
  background: var(--bg-color);
  color: var(--primary-color);
  min-height: 100vh;
  transition: all .4s ease;
}