.sidebar {
  position: relative;
  height: calc(100vh - var(--navbar-height));
  width: var(--sidebar-width-uncollapsed);
  background: var(--inverted-bg-color);
  color: var(--inverted-primary-color);
  transition: width .4s ease;

  .collapse_btn {
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 38px;
    width: 20px;
    right: -20px;
    top: 30px;
    cursor: pointer;

    .top,
    .bottom {
      position: absolute;
      border-radius: 3px;
      width: 5px;
      background: var(--inverted-bg-color);
      transition: all .2s ease;
    }

    .top {
      top: 0;
      bottom: 45%;
    }

    .bottom {
      bottom: 0;
      top: 45%;
    }

    &:hover {
      .top {
        transform: rotate(15deg);
      }

      .bottom {
        transform: rotate(-15deg);
      }
    }
  }

  .switchers {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    bottom: 20px;
    width: 100%;
  }
}

.collapsed {
  width: var(--sidebar-width-collapsed);

  .collapse_btn {
    &:hover {
      .top {
        transform: rotate(-15deg);
      }

      .bottom {
        transform: rotate(15deg);
      }
    }
  }

  .switchers {
    flex-direction: column;
  }
}
