.root.dark {
  --bg-color: #1c1d1e;
  --inverted-bg-color: #d8d9e1;
  --primary-color: #52948c;
  --secondary-color: #1f604a;
  --inverted-primary-color: #a66ead;
  --inverted-secondary-color: #a346a8;
}
