.root.dark {
  --bg-color: #09193f;
  --inverted-bg-color: #d8d9e1;
  --primary-color: #068106;
  --secondary-color: #00d900;
  --inverted-primary-color: #0610a6;
  --inverted-secondary-color: #0004d9;
}