.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  width: 100%;
  height: var(--navbar-height);
  background: var(--inverted-bg-color);
}
